
.button{
    width:30px;
    height:30px;
    position:fixed;
    z-index:20;
    top:25px;
    left:15px;
    border:unset;
    cursor: pointer;
    background-color: transparent; 
    display: none;
    }
    .button:after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: aqua;
    position: absolute;
    top:0;
    left:0;
   
    
    clip-path:path("M0 15 Q0 0 0 0 15 0 30 0 30 6 30 6 15 6 0 6 0 12 0 12 15 12 30 12 30 18 30 18 15 18 0 18 0 24 0 24 15 24 30 24 30 30 30 30 15 30 0 30 0 15 0 15");
    transition: 0.3s ease-in;
    }
    .icon:after{
   
    clip-path:path("M0 15 Q0 15 0 15 6 0 12 0 12 6 12 6 9 6 6 12 6 12 6 12 30 12 30 12 30 18 30 18 6 18 6 18 6 18 6 18 9 24 12 24 12 30 12 30 6 30 0 15 0 15 0 15");
    /* background-color: rgb(255, 255, 255); */
    transition: 0.3s ease-in;
    
    }
    @media only screen and (max-width: 1100px){
        .button{
            display: block;
           left: 20px;
        }
    }
    @media only screen and (max-width: 600px){
        .bg--menu .bloque--uno{
            width:40%;
       
            }
    }
    .bg--menu,
    .bg--menu .bloque--uno,
    .bg--menu .bloque--uno a {
        display:flex;
        flex-direction:column;
        }

        .bg--menu .bloque--uno{
        width:100%;
       gap: 10px;
       z-index: 20;
       align-items: start;
       position: relative;
       overflow: hidden;
        }
       

        
        .bg--menu .bloque--uno a{
        padding: 15px;
        width: 95%;
        text-decoration:none;
        background-color: aqua;
        color:black;
        font-weight: 600;  
        letter-spacing:2px;
        }
      
        
        
        .bg--menu{
      
        position:fixed;
        width:100%;
        height:100vh;
        justify-content:
        center;
        background-color: #000000;
        left:-100%;
        transition:0.4s ease-in-out;
        z-index: 10;
       
        }
     

        .headerOn{  
        left:0;
        transition:0.4s ease-in-out;
        }
     
        .logos{
            color: hotpink;
            font-size: 50px;
        }

        .redes--bg{
            width: auto;
            position: absolute;
            right:0;
            
            padding: 0;
            bottom: 15%;
            top: 15%;
          background: linear-gradient(to right, transparent 50%, black 50%);
            z-index: 20;
            display: flex;
            justify-content: center;
            flex-direction: column;
         
        }
        .redes--bg a
        {
            padding: 40px;
            margin:  -3px 0px ;
       border: 10px solid black;
          background-color: aqua;
          
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      
     
