.contenido{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    
}
.contenido .card a{

      gap: 10px;
    padding-left: 20px;
    position: relative;
    transition: 0.3s ease;
  
}
.contenido .card div a{
    margin: 10px;
}
.contenido .card div a:after{
    left: -60px;
}
/* .contenido .card a:hover{
    background-color: aqua;
} */
.contenido .card a:after{
    content: "";
    position: absolute;
   aspect-ratio: 3/1;
height: 100%;
    background-color: aqua;
    top: 0;
    left: -50px;
    transition: 0.5s ease;
   
    clip-path: polygon(73%5%,73%5%,83%50%,73%95%,73%95%,83%50%,73%5%,73%5%,83%50%,73%95%,73%95%,83%50%);
}


.contenido .card a:hover:after
{
    clip-path: polygon(73%5%,85%5%,95%50%,85%95%,80%95%,90%50%,80%5%,78%5%,88%50%,78%95%,73%95%,83%50%);
}
.contenido .card{
    width: 33%;
    object-fit: cover;
  justify-content: start;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}
.comunicate a{
    display: flex;
    align-items: center;
    gap: 5px;
}
.redes div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* .redes div a{
    margin: 5px;
} */
@media only screen and (max-width: 750px){
.contenido{
    flex-direction: column;
}
.contenido .card{
    width: 100%;
}
/* .redes div{
    justify-content: space-between;
} */
.contenido .card div a{
    margin: unset;
}
}
