footer{
    width: 100%;
    height: 60px;
    background-color: #000000;
    position: relative;
   
}
footer p{
  color: aqua;
  text-align: center;
  line-height: 60px;
}
footer:after{
    content: "";
    width: 280px;
    height: 360px;
    position: absolute;
  bottom:39px ;
    right:0;
    background-color: black;
    clip-path: path("M0 340 Q282 340 282 240 282 362 282 362 0 362 0 362 0 300 0 300");
}
footer p span{
  
  color: aqua;
padding: 2px;
}
footer p span:last-child{
  font-weight: 600;
  color: rgb(29, 158, 158);
}