
form,
.container{
 display: flex;
 justify-content: center;
 align-items: center;

}
.container{

width: auto;
 flex-wrap: wrap;
 /* margin-top: 100px; */
}
.container p{
    padding: 10px;
}
.container p span{
   background-color: yellow;
}

.container .headline{
    
    width: 100%;
 display: flex;
 justify-content: center;
 flex-wrap: wrap;

}

.container .headline form{
 max-width: 425px;
 width: 100%;
 height: 100%;
 background: var(--cuadricula);

 flex-direction: column;
 gap: 2px;
 padding: 50px 1px;

}
.container .headline form button{
 width: 200px;
 height: 80px;
 padding: 15px 20px;
 margin-top: 10px;
   background-color: transparent;
 border: unset;
 
 transition:0.3s ease ;
 font-weight: 600;
 position: relative;

 font-size: 16px;
}
.container .headline form button:after{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 clip-path:path("M20 0 Q180 0 180 0 200 40 200 40 180 80 180 80 20 80 20 80 0 40 0 40 20 0 20 0 22 5 22 5 5 40 5 40 22 75 22 75 178 75 178 75 195 40 195 40 178 5 178 5 22 5 22 5 20 0 20 0") ;
 background-color: rgb(0, 0, 0);
 transition:0.3s ease ;
}
.container .headline form button:hover{
 color: blue;
}
.container .headline form button:hover:after{
 background-color: blue;
}
.container input{
 border: unset;
 padding: 10px 20px;
 text-align: center;
 border-radius: 25px;
background-color: rgb(234, 234, 234);
}
.container output{
 padding-top: 20px;
 padding: 10px;

}
.container .dato{
 width: 100%;
 height:50px;
 font-weight: 600;
 color: blue;
 text-align: center;
}

.container h3{
 text-align: center;
 padding-bottom: 10px;

}
.container h2{
   margin-top: 100px;
    padding: 20px;
}

.container .dato {
 width: 100%;
 height: 50px;
 font-weight: 600;
 text-align: center;
 clip-path: polygon(0%0%,100%0%,100%0%,0%0%);
}


.container .dato.error {
 color: red;
 animation: dato 1s ease forwards;
}

.container .dato.resultado {
 color: blue;
 animation: dato 0.5s ease forwards;
}
@keyframes dato{
0%{clip-path: polygon(0%0%,100%0%,100%0%,0%0%);}
100%{clip-path: polygon(0%0%,100%0%,100%100%,0%100%);}
}


/* visualizador===================================== */
.container .visualizador {

   max-width: 425px;
   width: 100%;
   aspect-ratio: 1/1.2;
   clip-path: inset(0 1px 0 1px);
   position: relative;
   padding: 10px 0;
  
 }
 
 /* Define la perspectiva para la escena 3D */
 .container .scene {
    width: 100%;
    /* aspect-ratio: 1/0.6; */
    height: 50%;
    perspective: 800px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
 }
 .container .buttons {
    width: 100%;
    /* aspect-ratio: 1/0.2; */
    height: 10%;
    display: flex;
    justify-content: center;
    /* margin-top: 10px; */
    gap: 3px;
 }
 .container .buttons button {
    width: 100%;
    height: 100%;
    border: unset;
   background: linear-gradient(to top,rgb(29, 158, 158),white,rgb(29, 158, 158));
    transition: filter 0.2s ease-in-out; /* A침ade una transici칩n para el filtro */
 }
 .container .buttons button:active {
    filter: brightness(1.5); /* Aumenta el brillo cuando el bot칩n es presionado */
 }
 .container #left-button {
    clip-path: polygon(10%50%,20%0%,40%0%,30%50%,40%100%,20%100%);
 }
 .container #right-button {
    clip-path: polygon(60%0%,80%0%,90%50%,80%100%,60%100%,70%50%);
 }
 /* Configura el cubo 3D */
 .container .box  {
    will-change: transform;
    width: 100%;
    height: 90%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    position: relative;
    transform: translateZ(-400px) rotateY(0deg);
 }
 
 /* Estilos de las im치genes dentro del cubo */
 .container .box .card {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    backface-visibility: hidden;
 }
 .card01 {
    transform: rotateY(0deg) translateZ(400px);
 }
 .card02 {
    transform: rotateY(60deg) translateZ(400px);
 }
 .card03 {
    transform: rotateY(120deg) translateZ(400px);
 }
 .card04 {
    transform: rotateY(180deg) translateZ(400px);
 }
 .card05 {
    transform: rotateY(240deg) translateZ(400px);
 }
 .card06 {
    transform: rotateY(300deg) translateZ(400px);
 }
 
